<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<header>
    <nav class="navbar">
        <a class="logo" href="#">My Blogs<span>.</span></a>
        <ul class="menu-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </nav>
</header>
<section class="hero-section">
    <div class="content">
        <h2>Your Source for Inspiration and Insight </h2>
        <p>
            Welcome to My Blogs, where inspiration meets insight! We believe in the power of words to ignite passion,
            spark
            creativity, and foster growth. Whether you're a seasoned reader or a newcomer to the world of blogging,
            you've
            found your home here.
        </p>
        <button>Explore</button>
    </div>
</section>
<section class="blog-section">
    <div class="card-list">
        <a href="#" class="card-item">
            <img
                    src="https://media.istockphoto.com/id/1392494719/photo/woman-with-pink-suitcase-and-passport-with-boarding-pass-standing-on-passengers-ladder-of.jpg?s=612x612&w=0&k=20&c=MVUZvIdaUmvRKdG-B5EEGGkIVFj51jss-b6IkxqY3fg="
                    alt="Card Image">
            <h3>Unveiling the Power of Mindfulness: How to Cultivate Inner Peace in a Busy World</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        <a href="#" class="card-item">
            <img
                    src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D"
                    alt="Card Image">
            <h3>The Future of Work: Navigating Remote Teams and Digital Collaboration</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        <a href="#" class="card-item">
            <img
                    src="https://hips.hearstapps.com/hmg-prod/images/large-group-of-happy-friends-in-mountains-area-royalty-free-image-1653422631.jpg?crop=0.668xw:1.00xh;0.0609xw,0&resize=1200:*"
                    alt="Card Image">
            <h3>Beyond the Screen: Exploring the Benefits of Nature Therapy for Mental Well-being</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
    </div>
</section>
</body>
</html>