<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My blog</title>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <!-- Google Fonts Links For Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <a class="logo" href="#">My Blogs<span>.</span></a>
      <ul class="menu-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>

  </header>

  <section class="hero-section">
    <div class="content">
      <h2>Your Source for Inspiration and Insight </h2>
      <p>
        Welcome to My Blogs, where inspiration meets insight! We believe in the power of words to ignite passion, spark
        creativity, and foster growth. Whether you're a seasoned reader or a newcomer to the world of blogging, you've
        found your home here.
      </p>
      <button>Explore</button>
    </div>
  </section>

  <!-------- Blog Posts ---------->

  <section class="blog-section">
    <div class="card-list">
      {% for post in blogposts %}
      <a href="/{{post.id}}" class="card-item">
        <img
          src="{{post.image}}"
          alt="Card Image">
        <h3>{{post.title}}</h3>
        <div class="arrow">
          <i class="fas fa-arrow-right card-icon"></i>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
</body>
</html>

